@import url('https://fonts.googleapis.com/css2?family=Reggae+One&family=Oxanium:wght@300&display=swap');

#question {
    font-size: 2.5rem;
    color: rgb(108, 9, 221);
    text-align: center;
}

.container {
    background: url('../images/minas-tirith-container-image.jpeg') no-repeat center center;
    height: 70rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.questions-container {
    display: flex;
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 4px;
    background-color: rgb(185, 123, 244);
    font-size: 3rem;
    min-width: 70rem;
}

.questions-container:hover {
    cursor: pointer;
    transition: transform 150ms;
    transform: scale(1.02);
}

.choice-letter {
    padding: 2rem 2.5rem;
}

.choice-text {
    padding: 2rem;
    width: 90%;
}

.correct {
    background-color: rgb(28, 200, 177);
}

.incorrect {
    background: rgb(255, 85, 0);
}

/* Heads up Display */

#hud {
    display: flex;
    justify-content: space-between;

}

.hud-prefix {
    text-align: center;
    font-size: 2.2rem;
    color: rgb(80, 7, 163);
}

.hud-main-text {
    text-align: center;
}

/* Progress bar */

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(108, 9, 221); 
    margin-top: 2rem;
    border-radius: 5px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background-color: rgb(108, 9, 221);
    /* Makes the bar empty to begin with */
    width: 0%;
}

/* Media Queries */

@media screen and (max-width: 920px) {
    .questions-container {
        min-width: 40rem;
    }
}