@import url('https://fonts.googleapis.com/css2?family=Reggae+One&family=Oxanium:wght@300&display=swap');

:root {
    background: rgb(198, 172, 241);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: Oxanium, sans-serif;
}

h1 {
    font-size: 5.4rem;
    color: rgb(126, 82, 237);
    margin-bottom: 5rem;
}

h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

/** Not used yet **/
.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

/** end of not used yet **/

.hide {
    display: none;
}

.btn {
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(214, 194, 244);
    background: linear-gradient(90deg, rgba(26,9,165,1) 9%, rgba(54,16,140,1) 43%, rgba(155,88,215,1) 100%);
    border-radius: 5px;
}

.btn:hover {
    cursor: pointer;
    transition: transform 150ms;
    transform: scale(1.05);
}

.btn[disabled]:hover {
    cursor: not-allowed;
    transform: none;
}

