@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300&display=swap');

:root {
    background: rgb(198, 172, 241);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: Oxanium, sans-serif;
}

h1 {
    font-size: 5.4rem;
    color: rgb(126, 82, 237);
    margin-bottom: 5rem;
}

h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

/** Not used yet **/
.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

/** end of not used yet **/

.hide {
    display: none;
}

.btn {
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(214, 194, 244);
    background: linear-gradient(90deg, rgba(26,9,165,1) 9%, rgba(54,16,140,1) 43%, rgba(155,88,215,1) 100%);
    border-radius: 5px;
}

.btn:hover {
    cursor: pointer;
    transition: transform 150ms;
    transform: scale(1.05);
}

.btn[disabled]:hover {
    cursor: not-allowed;
    transform: none;
}

.restart-btn {
    font-size: 2rem;
    padding: 2rem 0;
    width: 20rem;
    text-align: center;
    text-transform: uppercase;
    margin: -65px 0px 0px 50px;
    text-decoration: none;
    color: rgb(214, 194, 244);
    background: linear-gradient(90deg, rgba(26,9,165,1) 9%, rgba(54,16,140,1) 43%, rgba(155,88,215,1) 100%);
    border-radius: 5px;
    display: block;
}

.hide {
    display: none;
}

/* About LoTR page */

#lotr {
    text-align: center;
    padding-top: 15px;
    margin-bottom: 3rem;
}

header a {
    text-decoration: none;
    text-transform: uppercase;
}

header a:hover {
    text-decoration: underline;
}

#menu {
    text-align: center;
    font-size: 10rem;
    margin-top: -3rem;
    line-height: 30px;
}

.active {
    text-decoration: underline;
}

#about-container {
    width: 100%;
    margin-top: 5rem;
    padding-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(100px, auto);
    column-gap: 5rem;
    row-gap: 5rem;
    grid-template-areas:
    'bg-info bg-info bg-info fotr fotr fotr'
    'tt tt tt rotk rotk rotk'
}

#about-container h2 {
    color: rgb(126, 82, 237);
    margin-bottom: -0.7rem;
}

#about-container p {
    font-size: 1.5rem;
    line-height: 2.2rem;
}

.about-box {
    border: 1px solid rgb(126, 82, 237);
    border-radius: 10px;
    max-width: 95%;
    height: auto;
    padding: 1rem;
}

.bg-info {
    grid-area: bg-info;
    margin: 0 1.5rem;
}

.fotr {
    grid-area: fotr;
    margin: 0 1.5rem;
}

.tt {
    grid-area: tt;
    margin: 0 1.5rem;
}

.rotk {
    grid-area: rotk;
    margin: 0 1.5rem;
}

hr {
    border: 1px solid rgb(126, 82, 237);
    width: 100%;
    margin: 1rem 0;
}

/* Highscores form */

form {
    display: flex;
    flex-direction: column;
}

.highscores-form-container {
    align-items: center;
    max-width: 45rem;
}

.form-input {
    width: 25rem;
    height: 4rem;
    margin-bottom: 15px;
    font-size: 3rem;
    background: linear-gradient(90deg, rgba(58, 9, 165, 0.3) 9%, rgba(65, 27, 125, 0.3) 43%, rgba(134, 69, 225, 0.3) 100%);
    border: 2px solid #3b0a88;
    color: white;
}

.results-h1 {
    font-size: 3.5rem;
}

.results-h2 {
    font-size: 2.5rem;
    color: rgb(113, 75, 209);
}

.btn {
    text-transform: uppercase;
}